<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bubble_interact.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1},{233,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,233}}</string>
                <key>sourceSize</key>
                <string>{233,233}</string>
            </dict>
            <key>bubble_key.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1},{233,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,233}}</string>
                <key>sourceSize</key>
                <string>{233,233}</string>
            </dict>
            <key>credits.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,1},{250,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,153}}</string>
                <key>sourceSize</key>
                <string>{250,153}</string>
            </dict>
            <key>creditsDetail.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,235},{800,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,600}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,235},{134,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,139}}</string>
                <key>sourceSize</key>
                <string>{134,139}</string>
            </dict>
            <key>lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,836},{119,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,138}}</string>
                <key>sourceSize</key>
                <string>{119,138}</string>
            </dict>
            <key>lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,836},{115,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,143}}</string>
                <key>sourceSize</key>
                <string>{115,143}</string>
            </dict>
            <key>lv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,836},{138,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,131}}</string>
                <key>sourceSize</key>
                <string>{138,131}</string>
            </dict>
            <key>lv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,836},{134,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,135}}</string>
                <key>sourceSize</key>
                <string>{134,135}</string>
            </dict>
            <key>mainMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,836},{465,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,286}}</string>
                <key>sourceSize</key>
                <string>{465,286}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1123},{465,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,286}}</string>
                <key>sourceSize</key>
                <string>{465,286}</string>
            </dict>
            <key>play.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,1123},{251,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,139}}</string>
                <key>sourceSize</key>
                <string>{251,139}</string>
            </dict>
            <key>timer.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1410},{445,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,108}}</string>
                <key>sourceSize</key>
                <string>{445,108}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,1410},{545,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,224}}</string>
                <key>sourceSize</key>
                <string>{545,224}</string>
            </dict>
            <key>transi.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,1410},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menu.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5cdd5e69c02457dc74496203bb1a7542:1/1$</string>
            <key>textureFileName</key>
            <string>menu.png</string>
        </dict>
    </dict>
</plist>
